/* Empty. Add your own CSS if you like */
.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
    font-size: 11px;
    line-height: 3px;
}
.bar.item-input-inset .item-input-wrapper input {
border-radius: 0px !important;
}
.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 29px;
    font-size: 22px;
}
.box1, .box2, .box3 {
   height: 300px;
   border: 2px solid blue;
}

body{
   -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.has-header1 {
    top: 60px !important;
}
.block{
      display: inline;
}
.sbanner{
 text-align: center;
 padding-top: calc(45vh - 60px);
}
.sicon{
  font-size: 5em;
color: #a9a8a8;
}
.sbanner p{
  color: #a9a8a8;
}
.no_weight{
  font-size: 12px;
      color: #696969;
      font-weight: 400;
}
/*.scroll-content{
  top: 0 !important;
  bottom: 0 !important;
}*/
.slidingTabs ul li {
  font-size: 12px;
}
.pane.view.Small .news_title,.pane.view.Small .news_desc,.pane.view.Small .detail_news_title,.pane.view.Small .detail_news_desc,.pane.view.Small marquee{
  font-size: 11px;
}
.pane.view.Medium .news_title,.pane.view.Medium .news_desc,.pane.view.Medium .detail_news_title,.pane.view.Medium .detail_news_desc,.pane.view.Medium marquee{
  font-size: 12px;
}
.pane.view.Large .news_title,.pane.view.Large .news_desc,.pane.view.Large .detail_news_title,.pane.view.Large .detail_news_desc,.pane.view.Large marquee{
  font-size: 16px;
  line-height: 1.5;
}
sup {
    font-size: 100%;
    color: #ff0000;
}
.type{
  font-size: 10px;
  color:#CE2027;
}
.advert{
  padding: 2px 10px;
}
.readed{
  opacity: 0.3;
}
.buttons .button{
margin-top: 3px;
    /*padding: 5px;*/
}
/* full screen image zoom pane */

.zoom-pane {
	width: 100% !important;
	height: 100% !important;
}

.zoom-pane .scroll {
	min-height: 100% !important;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.zoom-pane img {
	width: 100% !important;
	vertical-align: middle !important;
}

.image-modal {
width: 100% !important;
height: 100% !important;
top: 0 !important;
left: 0 !important;
background: black !important;
}
.mytitle{
      position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.59);
    color: #fff;
    padding: 2px 5px;
}
.item-checkbox label{
  color:#848484;
}
.myview .input-label{
  width: 100% !important;
  max-width: 100%;
  white-space: normal;
}
.col50{
    width: 50%;
    float: left;
}
.pleft{
padding-right:2.5px;
}
.pright{
padding-left: 2.5px;
}
.item-input-wrapper{
  background-color: transparent;
}
.searchForm{
  width: 100%;
  padding: 5px;
  top: 9px;  position: absolute;
}
.searchForm .bar{
    top:40px;
    border:none !important;
}
.search{
  color:#fff !important;
  width:100%;
  background: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
    border-radius:0 !important;
}
.search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    opacity:  0.6;
}
.search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  0.6;
}
.search::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  0.6;
}
.search:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
   opacity:  0.6;
}
.noti {
  padding: 10px;
      border-bottom: 1px solid #c7c7c7;
}
.noti .news_image{
  margin-right: 7px;
}
.noti .news_title{
  margin-top: 0px;
}
.noti .news_content{
  padding-left: 0px;
}
.loadings{
  width: 100%;
      top: calc(50vh - 90px);
    position: absolute;
    left:0;
    right:0;
}
.loader {
    width: 100%;
    top: calc(50vh - 60px);
    position: absolute;
}
.news_contents {
    width: 100%;
    padding-left: 120px;
    border-bottom: 0px solid #ddd;
    padding-bottom: 10px;
    position: relative;
}
.clear{
  position: absolute;
right: 80px;
top: 20px;
}
.ripple{
  border-bottom: 1px solid #c3c2c2;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: inline-block;
}
.rip{
  border-bottom: 1px solid #c3c2c2;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: block;
}
.ripple:last-child{
  border-bottom: 0px solid #c3c2c2;
}
.rip:last-child{
  border-bottom: 0px solid #c3c2c2;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../font/font1.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../font/Pacifico.ttf) format('ttf');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../font/Pacifico-vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../font/Pacifico-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../font/Pacifico-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* Empty. Add your own CSS if you like */
ion-header-bar .title{
  /*background-image: url(../img/logo.png);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 33px;
}
.logo{
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 33px;
  height: 60px;
  position: absolute;
  z-index: 99999;
  text-align: center;
  left: 50px;
  right: 50px;
  top: 0;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #ffffff;
}
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
  border-color: #ffffff;
  color: #ffffff;
}
ion-tabs.tabs-color-active-positive .tab-item {
  color: #fff;
}
.tabs-striped .tabs {
  background-color: #ce2027;
  border-top: 1px solid #ce2027 !important;
  border-bottom: 1px solid #ce2027 !important;
}
.tabs{
  background-color: #ce2027 !important;
  color:#fff !important;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.bar,.bar .title{
  height: 60px;
  color:#fff !important;
  text-align: left!important;
    background-color: #ce2027;
}
.bar .title{
  line-height: 60px !important;
  /*padding: 0px 30px;*/
  }
  .half-image{
    width: 50%;
  }
  .header-item{
    /*margin-top: 3px;*/
  }
.bar.bar-stable {
    border: none;
     border-color:transparent;
    background-color: #ce2027;
    /*background-image: linear-gradient(0deg, #ffffff, #ffffff 50%, transparent 50%) !important;*/
    color: #fff;
}
.slidingTabs{
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tab-item .icon {
  display: block;
  margin: 7px auto;
  height: 19px;
  font-size: 18px;
}
.bar.ben-positive {
  background-color: transparent;
  border: none;
      background-image: linear-gradient(0deg, #ffffff, #ffffff 50%, transparent 50%);
}

.ben-positive h4 ,.ben-positive a{
  color: white;
  text-shadow:1px 1px 1px #000;
}
.tabs-top > .tabs, .tabs.tabs-top,.tabs-striped .tabs {
  top: 60px;
  padding-top: 0;
  background-position: bottom;
  border-top-width: 1px;
  border-bottom-width: 1px;
  /*border-color: #ce2027;*/
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
  margin-top: 0px;
  border-width: 0px 0px 0px 0px !important;
  border-style: solid;
  border: none;
}
.tabs-top.tabs-striped .tab-item.tab-item-active > .badge, .tabs-top.tabs-striped .tab-item.tab-item-active > i, .tabs-top.tabs-striped .tab-item.active > .badge, .tabs-top.tabs-striped .tab-item.active > i, .tabs-top.tabs-striped .tab-item.activated > .badge, .tabs-top.tabs-striped .tab-item.activated > i {
  margin: 7px auto;
}
.myslider .slider {
  height: 200px;
}
.box {
  padding: 1em;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow{
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.has-header{
  top: 109px;
}
/*.remove{
  top:0px;
}*/

.slider-slide .box{
  margin: 10px;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 175px;
  position: relative;
}
.title_wrapper{
  position: absolute;bottom: 0;
  left:0;
  right:0;
  padding: 10px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}
.slider-pager{bottom: 0;}
.slider-pager .slider-pager-page{
  font-size: 5px;
  width: 5px !important;
}
.nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs {
  top: 60px;
}
.col-white{
  color:#fff;
}
.popover {
  width:96%;
}
.section_title{
  font-family: "Pacifico";
  background-color: #CE2027;
  display: inline-block;
  padding: 6px 11px;
  color: #fff;
  text-transform: uppercase;
}

.item {
  border-left: none;
  border-bottom: none;
  border-right:none;
  border-top: 1px solid #e7e7e7;
}

.item:first-child{
  border: none;
}
.breaking-news-container{
  overflow:hidden;
}
.image-loader-container {
  width: 97px;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  position: absolute;
  background-image: url(../img/loading.png);
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin:10px 0px;
}


 .image {
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}
 .zoom-pane {
width: 100% !important;
height: 100% !important;
}

.zoom-pane .scroll {
    min-height: 100% !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.image-loader-container svg{
  display: none;
}
.poster{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  left: 0px !important;
  max-width: 97px !important;
  border: none !important;
}

.item-thumbnail-left, .item-thumbnail-left .item-content {
  padding-top: 8px;
  padding-left: 106px;
  height: 100px;
}
section h3{
  font-family: "Montserrat",sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}
.list{
  margin-bottom: 0px;
}
.mb10{
  margin-bottom: 10px;
}

.sub_title{
display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    top: -4px;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: 500;
}
section::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 31px;
    left: 10px;
    bottom: 7px;
    right: 10px;
    border-top: 1px solid #c4c4c4;
    /* border-right: 1px solid #cfcfcf; */
    /*border-bottom: 1px solid #cfcfcf;*/
    /* width: 95%; */
    margin-left: auto;
    margin-right: auto;
}
.relative{
  position: relative;
}
   .scrollmenu.scroll-view.scroll-x {
    overflow-x: hidden;  /* default value is 'scroll' */
       background-color: #ce2027;
}
 .scrollmenu.scroll-view.scroll-y {
    overflow-y: hidden;  /* default value is 'scroll' */

}
.news{
  margin-top: 10px;
}
.news_image{
  float: left;
  background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 100%;
    height: 85px;
    width: 110px;
    /*display: inline-block;*/
}
.style1 .news_image{
  background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 85px;
    width: 110px;
}
.style2 .news_image{
  float: none;
  background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 200px;
    width: 100%;
}
.searchForm .button-clear{
  color:#fff !important;
}
.news_content{
    width:100%;
    padding-left:120px;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
    position: relative;
}
.classified a{
  color:#000;
  text-decoration: underline;
}
.classified.highlight .card_footer a ,.classified.platinum .card_footer a{
  color:#fff;
}
.classified.premium .card_footer a,.classified.premium .card_footer i{
    color:#b6352b;
}
.share{
  color: #111;
  position: absolute;
  right: 7px;
  bottom: 5px;
  font-size: 15px;
}
.style2 .news_content{
  padding-left: 0px;
}
.title{
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  line-height: 1.9;
  color:#000;
}
.news_title {
 font-size: 12px;
 font-weight: 700;
 margin-bottom: 0px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 display: block;
 line-height: 1.9;
}

.news_desc{
  font-size: 12px;
  color: #696969;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.7;
  padding-bottom:6px;
      /*max-height: 37px;*/
  max-height: 43px;
  white-space: normal !important; 
}
.mydesc{
  clear:both;
}
.mydesc .news_desc{
  margin-bottom: 5px;
}
.bar-stable .button.button-clear {
    color: #fff;
  }
.detail_news_title{
      font-size: 13px;
  font-weight: 700;
      margin-bottom: 0px;
      margin-top: 0px;
    line-height: 1.9;
}
.detail_news_desc{
  font-size: 12px;
  color: #696969;
  margin-bottom: 0px;
  line-height: 1.9;
}
.posted{
    font-size: 10px;
    color: #a2a2a2;
}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
    font-size: 25px;
    }
ion-infinite-scroll{
      height: 0px;
    }
    .infiniteloading {
      height: 45px;
      padding: 8px;
      clear:both;
    }
    .image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
  background: rgba(0,0,0,0.7);
}

.slider {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
       height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}
    @-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.backdrop {       /* All the background image supports */

  background-color: rgba(0,0,0,0.7) !important;  /* blur filters */


  /* positioning and removing edges */

  /*background-color: rgb(255, 255, 255);*/
}
.loading-container .loading {
  padding: 20px;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 15px;
}
.classified{
    display: block;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /*border:1px solid #ddd;*/
}
.remove .classified{
      margin: 0px;
      /*margin-top:60px;*/
      -webkit-box-shadow: none;
      -moz-box-shadow:none;
      box-shadow:none;
      border:none;
    }
    .messages .message.right.button.appeared i {
    position: absolute;
    right: 21px;
    top: 8px;
}
        .close{
      color: #fff;
      font-size: 38px;
      position: absolute;
      right: 7px;
      width: 28px;
      height: 36px;
      top: 5px;
      text-align: center;
      z-index: 9999;
    }
.classified.platinum{
position: relative;
overflow: hidden;
background-color: #fff;
color:#ffffff;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-border-radius: 4px;
border-radius: 4px;
background-clip: padding-box;
background: linear-gradient(270deg, #8adeb4, #f44336, #20c1dd);
background-size: 1000% 1000%;
-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}
.classified .card_content{
  margin: 5px 10% 12px;
  background-color: #fff;
  color:#000;
  padding: 10px 5px;
}
.classified.platinum .card_content{
color: #000;
    text-shadow: -1px 0 white, 0 -1px white, 1px 0px white, 0px 1px white;
}
.classified.platinum .card_content{
    background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.classified.premium{
  background: #fcc3c3;
}
.classified .card_header h4{
  margin-top: 0px;
  margin-bottom: 5px;
}
.card_header,.card_desc{
  padding:10px 5px;
}
.platinum .ctitle{
  font-family: 'Pacifico';
}
.platinum .ctitle,.highlight .ctitle,.platinum .cdesc,.highlight .cdesc{
  color: #fff;
}
.premium .ctitle,.premium .cdesc,.premium .card_footer{
  color: #b6352b;
}
.highlight .card_header,.highlight .card_desc,.highlight .card_footer{
  background-color: #000;
}
.platinum .card_footer,.highlight .card_footer{
  color: #fff;
}
.classified .card_header,.classified .card_description{
border-bottom:1px solid rgba(255, 255, 255, 0.5);
}
.classified .card_footer{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding:10px;
}
.classified.normal .card_header,.classified.normal .card_description{
  border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
.classified.normal .card_footer{
  border-top:1px solid rgba(0, 0, 0, 0.2);
}
.classified.premium .card_footer,.classified.premium .card_header,.classified.normal{
      border-color: rgba(255, 255, 255, 0.49);
   color:#000;
}
.card_content p:last-child{
  margin-bottom: 0px;
}
a,a:hover{
  text-decoration: none;
}
.directory_footer{
  padding: 10px 0px;
}
.rating{
  color: #ff9b00;
      display: -webkit-box;
          float: right;
}
.wright{
      text-align: -webkit-right;
}
.item.activated{
  background-color:#fff;
}
.rating li{float:left;}
.classified div i.icon,.directory div i.icon{
  font-size: 16px;
  padding-right: 7px;
      position: relative;
    top: 1px;
}
.classified p,.directory p{
  margin-bottom: 5px;
}
.directory{
  color:#000;
  display: block;
  padding: 5px;
  margin: 5px 0px 15px 0px;
-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
border:1px solid #ddd;
}
.menu ,.menu .item-complex .item-content,.menu .item {
    background-color: #404040;
    color: #fff;
    }
   .remove .directory{
      margin: 0px;
       /*margin-top:60px;*/
      -webkit-box-shadow: none;
-moz-box-shadow:none;
box-shadow:none;
border:none;
    }
#map {
  width: 100%;
  height: 200px;
}

.scroll {
  height: 100%;
}
.directory .card_header h4{
  border-bottom:1px solid #ddd;
  margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
.directory img{
  /*height: 172px;*/
}
.company_name{
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  color: #991b1e;
  text-transform: capitalize;
/*        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    /*margin-right: 73px;*/
}
.error-container {
  margin: 2px 0;
}

.error-container:last-child {
    margin: 2px 0 0;
}

.error {
  padding: 4px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 16px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}
.tag{
  font-weight: 500;
  text-align:left;
  color:#6b6666;
}
.rating .icon{
  padding-right: 0px !important;
}
.third h3,.third .cdesc{color:#CE2027;}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}
.mybar{
  background-color: #CE2027;
    border-bottom-color: #ce2027;
}
ion-header-bar h4{
    margin-top: 14px;
    color: #fff;
    margin-left: 8px;
}
ion-header-bar a.button{
  margin-top:7px;
}
.posters{
  height:200px;
  width:100%;
  background-color: #ddd;
  background-attachment: fixed;
    background-size: 100%;
    position: relative;
    /*background-position: center;*/
}
.ion-ios-arrow-left{
  color:#fff !important;
}
.ico.style2{
width: 45px;
    height: auto;
    position: absolute;
    right: 0px;
    top: -29px;
    background: #fff;
    padding: 5px 0px 5px 10px;
}
.ico.style2 div.ico_image{
    float: left;
    width: 15px;
    height: 9px;
    border: 1px solid #ce2027;
}
.ico.style2 div.ico_desc{
    margin-left: 17px;
    width: 16px;
    height: 2px;
    border-top: 1px solid #ce2027;
    margin-bottom: 2px;
}
.ico.style1{
    width: 36px;
    height: auto;
    position: absolute;
    right: 0px;
    top: -32px;
    background: #fff;
    padding: 5px 0px 5px 10px;
}
.ico.style1 div.ico_image{
    width: 100%;
    height: 11px;
    border: 1px solid #ce2027;
}
.ico.style1 div.ico_desc{
    margin-left: 0px;
    width: 100%;
    height: 2px;
    border-top: 1px solid #ce2027;
    margin-top: 2px;
    margin-bottom: -1px;
}
.ico.style1 div.ico_desc:last-child{
  display: none;
}
.tag {
    background: crimson;
    border-radius: 3px 0 0 3px;
    color: #fff;
    display: inline-block;
    height: 25px;
    line-height: 23px;
        padding: 0 15px 0 17px;
    position: relative;
    margin: 0px 6px 6px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    font-size: 11px;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 6px;
    position: absolute;
    width: 6px;
    top: 9px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid crimson;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson;
}
input[type=text] {
border-radius:none !important;
}



tr,td,th
{
    border: 1px solid #000;
    padding: 2px 8px;
}
th
{
  background-color: #5a5757;
  color: #fff;
}
.item-note {
    position: absolute;
    top: 18px;
    right: 7px;
}
.share_btn{
    float: right;
    position: relative;
    bottom: 38px;
    background-color: #CE2027 !important;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    color: #fff !important;
    line-height: 37px;
}
.button.share_btn .icon::before {
    font-size: 18px;
    line-height: 36px;
    }
    .button.share_btn .icon.ion-social-whatsapp::before {
    font-size: 43px;
  }
  .whats_app_share
  {
    background-color: transparent !important;
  }
  .button.share_btn .icon.ion-social-whatsapp
  {
    color: #2ab200;
  }
  .share_btn.activated
  {
        border-color: transparent !important;
  }
.share_btn_outer{
    position: absolute;
    right: 21px;
    bottom: 0;
}
/*.memes_icon{
    background-image: url(../img/noun_105260.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 33px;
    height: 60px;
    position: absolute;
    z-index: 99999;
    text-align: center;
    left: 0px;
    right: 40px;
    top: 0;
    float: right;
}*/