<ion-view>
  <ion-content on-swipe-left="prev();"  on-swipe-right="next();" overflow-scroll="false">
     <ion-refresher on-refresh="civicissue_refresh()"></ion-refresher>
        <div class="relative">
        <section class="padding">
          <h3><span class="section_title">C</span></h3><span class="sub_title">Civic Issue</span>
          <div class="text-center padding loadings" ng-show="civicissue_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
          <div class="padding text-center" ng-show="civicissue_nodata"><i class="icon ion-alert-circled"></i>&nbsp;&nbsp;No data Available</div>
            <div class="list news mydesc">
              <a href="" ng-click="details(n.id)" class="rip" ng-repeat="n in civicissue">
              <img class="full-image shadow"  ng-src="{{iurls}}{{n.image_path}}/{{n.image}}">
              <h5 class="news_title" ng-bind="n.title"></h5>
              <span ng-bind="n.created_at|timeAgo" ng-show="n.created_at" class="posted"></span>
              <p class="news_desc" ng-bind="n.description"></p>
            </a>
            </div>
      <ion-infinite-scroll distance="10" icon="none" ng-if="civicissue_loadmore" immediate-check="false" on-infinite="civicissue_load()"></ion-infinite-scroll>
      <div class="text-center padding infiniteloading" ng-show="civicissue_loading_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
      <div class="text-center padding infiniteloading" ng-show="!civicissue_loading_icon && civicissue.length > 1"><span> You've reached the bottom of the page</span></div>
         </section>
      </div>
  </ion-content>
  </ion-view>
