<ion-view>
  <ion-content on-swipe-left="prev();"  on-swipe-right="next();" overflow-scroll="false">
             <ion-refresher on-refresh="directory_refresh()"></ion-refresher>
               <div class="relative">
                <section class="padding">
                  <h3><span class="section_title">D</span></h3><span class="sub_title">Directory</span>
                  <div class="text-center padding loadings" ng-show="directory_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
                  <div class="padding text-center" ng-show="directory_nodata"><i class="icon ion-alert-circled"></i>&nbsp;&nbsp;No data Available</div>
                  <div class="list">
                  <label class = "item item-input item-select" ng-show="!directory_nodata || directory.length > 0">
                     <div class = "input-label">
                        Filter
                     </div>
                        <select name="filter" id="filter" ng-model="filter" ng-options="l.business_category_name as l.business_category_name for l in directory | unique:'business_category_name'">
                          <option value="">All</option>
                        </select>
                  </label>
                    <div class="ripple directory" ng-repeat="c in directory|filter:filter" ng-switch="c.priority">
                      <div ng-switch-when="4" class="text-center">
                           <div class="card_header">
                            <h4 class="ctitle" ng-bind="c.business_category_name" ng-show="c.business_category_name"></h4>
                          </div>
                          <img ng-src="{{iurls}}{{c.image_path}}/{{c.image}}" alt="dir" class="full-image" ng-show="c.image"/>
                          <div class="directory_footer">
                          <p class="company_name" ng-bind="c.company_name"></p>
                          <div ng-show="c.rating" class="wright"><span>Rating : </span><rating ng-model="c.rating" max="5" readOnly="true" ></rating></div>
                          </div>
                      </div>
                       <div ng-switch-when="3" class="text-center">
                            <div class="card_header">
                            <h4 class="ctitle" ng-bind="c.business_category_name" ng-show="c.business_category_name"></h4>
                          </div>
                          <img ng-src="{{iurls}}{{c.image_path}}/{{c.image}}" alt="dir" class="full-image" />
                          <div class="directory_footer">
                          <p class="company_name" ng-bind="c.company_name"></p>
                          <div ng-show="c.rating" class="wright"><span>Rating : </span><rating ng-model="c.rating" max="5" readOnly="true" ></rating></div>
                          </div>
                      </div>
                       <div ng-switch-when="2" class="text-center third">
                         <div class="card_header">
                            <h4 class="ctitle" ng-bind="c.business_category_name" ng-show="c.business_category_name"></h4>
                          </div>
                             <h3 ng-bind="c.company_name" ng-show="c.company_name"></h3>
                           <div class="card_desc" ng-show="c.description">
                            <span class="cdesc" ng-bind="c.description"></span>
                          </div>
                          <div class="card_content">
                            <i class="icon ion-location"></i>
                            <span ng-bind="c.address_one" ng-show="c.address_one"></span><span ng-show="c.address_one">,</span>
                            <span ng-bind="c.address_two" ng-show="c.address_two"></span><span ng-show="c.address_two">,</span>
                            <span ng-bind="c.area" ng-show="c.area"></span><span ng-show="c.area">,</span>
                            <span ng-bind="c.city" ng-show="c.city"></span><span ng-show="c.city">,</span>
                            <span ng-bind="c.pincode"></span>.
                          </div>
                          <p ng-show="c.website" ng-show="c.website">
                            <i class="icon ion-earth"></i><span ng-bind="c.website"></span>
                            </p>
                            <p ng-show="c.mobile_no" ng-show="c.mobile_no">
                            <i class="icon ion-iphone"></i><span ng-bind="c.mobile_no"></span>
                            </p>
                          <div class="card_footer" ng-show="c.email_id">
                           <i class="icon ion-android-mail"></i><span ng-bind="c.email_id"></span>
                          </div>
                           <div ng-show="c.rating" class="wright"><span>Rating : </span><rating ng-model="c.rating" max="5" readOnly="true" ></rating></div>
                      </div>
                      <div ng-switch-when="1" class="text-center">
                          <div class="card_header">
                            <h4 class="ctitle" ng-bind="c.business_category_name" ng-show="c.business_category_name"></h4>
                          </div>
                             <h3 ng-bind="c.company_name"></h3>
                           <div class="card_desc">
                            <span class="cdesc" ng-bind="c.description"></span>
                          </div>
                           <div class="card_content">
                            <i class="icon ion-location"></i>
                            <span ng-bind="c.address_one" ng-show="c.address_one"></span><span ng-show="c.address_one">,</span>
                            <span ng-bind="c.address_two" ng-show="c.address_two"></span><span ng-show="c.address_two">,</span>
                            <span ng-bind="c.area" ng-show="c.area"></span><span ng-show="c.area">,</span>
                            <span ng-bind="c.city" ng-show="c.city"></span><span ng-show="c.city">,</span>
                            <span ng-bind="c.pincode"></span>.
                          </div>
                          <p ng-show="c.website" ng-show="c.website">
                            <i class="icon ion-earth"></i><span ng-bind="c.website"></span>
                            </p>
                            <p ng-show="c.mobile_no" ng-show="c.mobile_no">
                            <i class="icon ion-iphone"></i><span ng-bind="c.mobile_no"></span>
                            </p>
                          <div class="card_footer" ng-show="c.email_id">
                           <i class="icon ion-android-mail"></i><span ng-bind="c.email_id"></span>
                          </div>
                          <div ng-show="c.rating" class="wright"><span>Rating : </span><rating ng-model="c.rating" max="5" readOnly="true" ></rating></div>
                      </div>
                    </div>
                  </div>
              <ion-infinite-scroll distance="10" icon="none" ng-if="directory_loadmore" immediate-check="false" on-infinite="directory_load()"></ion-infinite-scroll>
              <div class="text-center padding infiniteloading" ng-show="directory_loading_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
              <div class="text-center padding infiniteloading" ng-show="!directory_loading_icon && directory.length > 1"><span> You've reached the bottom of the page</span></div>
                </section>
              </div>
  </ion-content>
  </ion-view>
