<ion-view>
  <ion-content on-swipe-left="prev();"  on-swipe-right="next();" overflow-scroll="false">
    <ion-refresher on-refresh="event_refresh()"></ion-refresher>
      <div class="relative">
        <section class="padding">
          <h3><span class="section_title">E</span></h3><span class="sub_title">Event</span>
          <div class="text-center padding loadings" ng-show="event_load_icon"><ion-spinner icon="ios-small" class="spinner-assertive "></ion-spinner></div>
          <div class="padding text-center" ng-show="event_nodata"><i class="icon ion-alert-circled"></i>&nbsp;&nbsp;No data Available</div>
          <div class="list news mydesc">
            <a href="" ng-click="details(ev.id)" class="rip relative" ng-repeat="ev in events">
              <img class="full-image shadow mb10"  ng-src="{{iurls}}{{ev.image_path}}/{{ev.image}}">
              <div class="title" ng-show="ev.category"><strong>Category : </strong><span class="no_weight" ng-bind="ev.category"></span></div>
              <div class="title" ng-show="ev.name"><strong>Title : </strong><span class="no_weight" ng-bind="ev.name"></span></div>
              <div class="title" ng-show="ev.description"><strong>Description : </strong><span class="no_weight news_desc" ng-bind="ev.description"></span></div>
              <div class="title" ng-if="ev.venue || ev.city"><strong>Venue : </strong><span class="no_weight" ng-bind="ev.address"></span></div>
              <span ng-bind="ev.date" ng-show="ev.created_at" class="posted"></span>
            </a>
          </div>
          <ion-infinite-scroll distance="10" icon="none" ng-if="event_loadmore" immediate-check="false" on-infinite="event_load()"></ion-infinite-scroll>
      <div class="text-center padding infiniteloading" ng-show="event_loading_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
      <div class="text-center padding infiniteloading" ng-show="!event_loading_icon && events.length > 1"><span> You've reached the bottom of the page</span></div>
      </section>
      </div>
  </ion-content>
  </ion-view>
