<ion-view class="{{style}}">
  <ion-content on-swipe-left="prev();" overflow-scroll="false" on-swipe-right="next();">
          <ion-refresher on-refresh="news_refresh()"></ion-refresher>
             <div class="relative">
              <section class="padding">
                <h3><span class="section_title">N</span></h3><span class="sub_title">News</span>
                <div class="text-center padding loadings" ng-show="news_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive"></ion-spinner></div>
                <div class="padding text-center" ng-show="news_nodata"><i class="icon ion-alert-circled"></i>&nbsp;&nbsp;No data Available</div>
                <div class="list">
                <marquee class="news" ng-bind-html="breaking_news" ng-show="breaking_news"></marquee>
                <div ng-repeat="n in news" ng-switch="n.category" class="news relative">
                  <a href="" ng-click="details(n.id)" ng-switch-when="News">
                  <div class="news_image shadow" style="background-image: url({{iurls}}{{n.image_path}}/{{n.image}});"></div>
                  <div class="news_content">
                    <h5 class="news_title" ng-bind="n.title" ng-show="n.title"></h5>
                    <span ng-bind="n.created_at|timeAgo" ng-show="n.created_at" class="posted"></span>
                    <p class="news_desc" ng-bind="n.description" ng-show="n.description"></p>
                     <!-- <button class="button button-light share_btn" ng-click="share(n)">
                         <i class="icon ion-android-share-alt"></i>
                     </button> -->
                    </div>
                  </a>
                    <div class="advert" href="#" ng-switch-when="advert">
                      <div class="type">ADVERTISEMENT</div>
                        <img ng-show="n.image" class="full-image" ng-src="{{iurls}}{{n.image_path}}/{{n.image}}" alt="img" ng-click="openBrowser(n.link)"/>
                    </div>
                  </div>
                </div>
            <ion-infinite-scroll distance="10" icon="none" ng-if="news_loadmore" immediate-check="false" on-infinite="news_load()"></ion-infinite-scroll>
            <div class="text-center padding infiniteloading" ng-show="news_loading_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
            <div class="text-center padding infiniteloading" ng-show="!news_loading_icon && news.length > 1"><span> You've reached the bottom of the page</span></div>
            </section>
          </div>
  </ion-content>
</ion-view>
